@CHARSET "ISO-8859-1";
.cointeiner{
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.topo{
	height: 60px;
	background-color: #f2994a;
	color:#fff;
}
.login-lateral-esquerda{
	background-color: #f5f7f8;
	height: 100%;
}
.login-lateral-direita{
	background: #2196f3;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #f44336, #2196f3);   Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to right, #f44336, #2196f3);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.login-area{
width: 250px;
margin: 0 auto;
    margin-top: 0px;
margin-top: 15vw;
}
.botao button{
	background-color: transparent !important;
	border: 1px solid #1f70b7 !important;
	border-radius: 4em !important;
	width: 90% !important;
	color:#1f70b7 !important;
	margin-top:20px;
	height: 40px;
}
.login-area-usuario,.login-area-senha{
	font-size: 11px;
	color:#1f70b7 !important;
	background-color: #ebebeb;
	margin:10px;
	padding: 4px;
	padding-left: 6px;
	border-radius: 6px 6px 0 0 !important;
	border-bottom:1px solid #1f70b7;
}
.login-area-usuario input[type="text"],.login-area-senha input[type="password"]{
	height: 20px;
	width: 200px;
	background-color: transparent;
	border: none;
}