@CHARSET "ISO-8859-1";
.cointeiner{
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.topo{
	height: 60px;
	background-color: #f2994a;
	color:#fff;
}
.login-lateral-esquerda{
	background-color: #f5f7f8;
	height: 100%;
}
.login-lateral-direita{
	background: #2196f3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}