* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

#menuSuperior {
	position: fixed;
	height: 40px;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color: white;
}

#empresa {
	background: #F2994A;
	/* Alinhar texto no centro */
	text-align: center;
	height: 40px;
}

#empresa-a {
	color: #EDF1F6;
}

#usuario {
	text-align: right;
	height: 40px;
}

.usuario-a {
	margin-right: 20px;
	line-height: 20px;
	color: #666666;
}

.iconePadding {
	padding-right: 16px;
}

.iconeSair {
	padding-right: 6px;
	padding-left: 6px;
	color: red;
}

#menuLateral {
	position: fixed;
	top: 40px;
	height: 100%;
	width: 16.6667%;
	background-color: #005DAD;
	box-shadow: 4px 4px 4px rgba(104, 104, 104, 0.25);
}

#conteudo {
	margin-top: 50px;
	margin-left: 17.6667%;
	margin-bottom: 10px;
	margin-right: 10px;
}

.btnCirculo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #005DAD;
}

.btnMenu {
	padding: 10px 0px;
	background-color: #005DAD;
	align-content: right;
	border-bottom: 1px solid #0077DC;
}

.fundo {
	padding: 30px 0px;
	background-color: #005DAD;
	align-content: right;
	border-bottom: 1px solid #0077DC;
}

.btnMenu:hover {
	background-color: #0077DC;
}

.btnMenu a {
	color: white;
	padding: 25px 0px;
	padding-right: 20%;
	padding-left: 10%;
}

#mobile {
	display: none;
}

#titulo {
	background-color: #F2994A;
	color: white;
	text-align: center;
	line-height: 37.5px;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
}

#tabelaUsuarios {
	font-size: 14px;
}

#tabelaUsuarios .cabecalhoTabela {
	color: white;
	background-color: #F2994A;
}

.ui-datatable th.ui-state-default, .ui-datatable tfoot td.ui-state-default {
	background-color: #F2994A;
	color:white;
}

.tituloPainel {
	color: #005DAD;
	font-weight: bold;
}

.iconePainel {
	color: #F2994A;
	padding-left: 16px;
	padding-bottom: 16px;
}

.botaoVerMais {
	background: transparent;
	border: 1px;
	border-style: solid;
	color: #F2994A;
	border-color: #F2994A;
	margin-top: 10px;
}

.painel {
	margin-bottom: 20px;
	background-color: #eeeeee;
}



@media ( max-width : 780px) {
	#empresa-a {
		display: none;
	}
	#mobile {
		display: block; /* ou inline, inline-block */
	}
	#menuLateral {
		position: absolute;
		width: 100%;
		left: 0%;
		right: 85%;
		top: 40px;
		bottom: 0%;
		background-color: #005DAD;
		box-shadow: 4px 4px 4px rgba(104, 104, 104, 0.25);
	}
	#conteudo {
		margin-top: 100px;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	#usuario {
		display: none;
	}
}
.btnCirculo span {
    padding: 0em 0em 0em 1px !important;
    font-size: 25px !important;
}
